In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
mlb_data_file = "Resources/mlb.csv"
mlb_attendance_file = "Resources/mlb_attendance.csv"
nfl_data_file = "Resources/nfl.csv"
nfl_attendance_file = "Resources/nfl_attendance.csv"
nba_data_file = "Resources/nba.csv"
nba_attendance_file = "Resources/nba_attendance.csv"

In [4]:
mlb_df = pd.read_csv(mlb_data_file, low_memory = False)
mlb_attendance_df = pd.read_csv(mlb_attendance_file, low_memory = False)
nfl_df = pd.read_csv(nfl_data_file, low_memory = False)
nfl_attendance_df = pd.read_csv(nfl_attendance_file, low_memory = False)
nba_df = pd.read_csv(nba_data_file, low_memory = False)
nba_attendance_df = pd.read_csv(nba_attendance_file, low_memory = False)

In [5]:
mlb_df.head(10)

,year,team,win,loss,W-L%,home_w,home_l,road_w,road_l,wildcard_w,wildcard_l,division_w,division_l,championship_w,championship_l,world_series_w,world_series_l
0,2018,ARI,82,80,0.506,40,41,42,39,0,0,0,0,0,0,0,0
1,2018,ATL,90,72,0.556,43,38,47,34,0,0,0,1,0,0,0,0
2,2018,BAL,47,115,0.290,28,53,19,62,0,0,0,0,0,0,0,0
3,2018,BOS,108,54,0.667,57,24,51,30,0,0,1,0,1,0,1,0
4,2018,CHC,95,68,0.583,51,31,44,37,0,1,0,0,0,0,0,0
5,2018,CHW,62,100,0.383,30,51,32,49,0,0,0,0,0,0,0,0
6,2018,CIN,67,95,0.414,37,44,30,51,0,0,0,0,0,0,0,0
7,2018,CLE,91,71,0.562,49,32,42,39,0,0,0,1,0,0,0,0
8,2018,COL,91,72,0.558,47,34,44,38,1,0,0,1,0,0,0,0
9,2018,DET,64,98,0.395,38,43,26,55,0,0,0,0,0,0,0,0

In [6]:
mlb_attendance_df.head(10)

   year   Tm  Attendance  Attend/G
0  2018  ARI     2242695     27688
1  2018  ATL     2555781     31553
2  2018  BAL     1564192     19311
3  2018  BOS     2895575     35748
4  2018  CHC     3181089     38794
5  2018  CHW     1608817     19862
6  2018  CIN     1629356     20116
7  2018  CLE     1926701     23786
8  2018  COL     3015880     37233
9  2018  DET     1856970     22926

In [7]:
nfl_df.head(10)

,year,Tm,W,L,T,W-L%,PF,PA,wildcard_w,wildcard_l,div_w,div_l,conf_w,conf_l,sb_w,sb_l
0,2018,Arizona Cardinals,3,13,0,0.188,225,425,0,0,0,0,0,0,0,0
1,2018,Atlanta Falcons,7,9,0,0.438,414,423,0,0,0,0,0,0,0,0
2,2018,Baltimore Ravens,10,6,0,0.625,389,287,0,1,0,0,0,0,0,0
3,2018,Buffalo Bills,6,10,0,0.375,269,374,0,0,0,0,0,0,0,0
4,2018,Carolina Panthers,7,9,0,0.438,376,382,0,0,0,0,0,0,0,0
5,2018,Chicago Bears,12,4,0,0.750,421,283,0,1,0,0,0,0,0,0
6,2018,Cincinnati Bengals,6,10,0,0.375,368,455,0,0,0,0,0,0,0,0
7,2018,Cleveland Browns,7,8,1,0.469,359,392,0,0,0,0,0,0,0,0
8,2018,Dallas Cowboys,10,6,0,0.625,339,324,1,0,0,1,0,0,0,0
9,2018,Denver Broncos,6,10,0,0.375,329,349,0,0,0,0,0,0,0,0

In [8]:
nfl_attendance_df.head(10)

     year                  Tm  Attendance  Attend/G
0  2018.0   Arizona Cardinals     1018127     63633
1  2018.0     Atlanta Falcons     1119143     69946
2  2018.0    Baltimore Ravens     1053383     65836
3  2018.0       Buffalo Bills     1072899     67056
4  2018.0   Carolina Panthers     1102756     68922
5  2018.0       Chicago Bears     1045568     65348
6  2018.0  Cincinnati Bengals      911289     56956
7  2018.0    Cleveland Browns     1045441     65340
8  2018.0      Dallas Cowboys     1303393     81462
9  2018.0      Denver Broncos     1092324     68270

In [9]:
nba_df.head(10)

,year,Team,wins,losses,W-L%,home_w,home_l,road_w,road_l,confrence_w,confrence_l,semifinal_w,semifinal_l,conf_final_w,conf_final_l,final_w,final_l
0,2018,Atlanta Hawks,14,30,0.318,8,11,6,19,0,0,0,0,0,0,0,0
1,2018,Boston Celtics,26,18,0.591,16,5,10,13,1,0,1,0,0,1,0,0
2,2018,Brooklyn Nets,23,23,0.500,12,11,11,12,0,0,0,0,0,0,0,0
3,2018,Charlotte Hornets,21,23,0.477,15,8,6,15,0,0,0,0,0,0,0,0
4,2018,Chicago Bulls,10,35,0.222,5,16,5,19,0,0,0,0,0,0,0,0
5,2018,Cleveland Cavaliers,9,36,0.200,5,17,4,19,1,0,1,0,1,0,0,1
6,2018,Dallas Mavericks,20,24,0.455,16,6,4,18,0,0,0,0,0,0,0,0
7,2018,Denver Nuggets,30,14,0.682,19,4,11,10,0,0,0,0,0,0,0,0
8,2018,Detroit Pistons,19,24,0.442,12,10,7,14,0,0,0,0,0,0,0,0
9,2018,Golden State Warriors,31,14,0.689,18,6,13,8,1,0,1,0,1,0,1,0

In [10]:
nba_attendance_df.head(10)

   year                    team  attendance  attendance/G
0  2018         Milwaukee Bucks      417120         17380
1  2018   Golden State Warriors      470304         19596
2  2018          Boston Celtics      391104         18624
3  2018         Toronto Raptors      455788         19817
4  2018          Denver Nuggets      418556         18198
5  2018               Utah Jazz      366120         18306
6  2018          Indiana Pacers      351846         16755
7  2018   Oklahoma City Thunder      382263         18203
8  2018       San Antonio Spurs      438073         18253
9  2018  Portland Trail Blazers      503916         19381